<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Info</th>
      <th>detalles</th>
      <th>items</th>
      <th>precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></br>
        	<%= order.email %></br>
        	<%= order.pay_type %>
        </td>
        <td><%= order.address %></td>
        <td><%= link_to 'Show', order %> </br>
        <%= link_to 'Edit', edit_order_path(order) %> </br>
        <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
        <td><table><%= render(order.line_items) %> </table> </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Productos', new_product_path  %>
