   <div class="col-md-3">
            	
                <p class="lead"></br>Categorias</p>
                <div class="list-group">
                    <%= link_to "Labios", store_path(:category=>"lips"), :class=>'list-group-item' %>
                     <%= link_to "Rostro",store_path(:category=>"face"),  :class=>'list-group-item' %>
                     <%= link_to "Ojos", store_path(:category=>"eyes"), :class=>'list-group-item' %>
                     <%= link_to "Uñas", store_path(:category=>"nails"), :class=>'list-group-item' %>
                    <a href="#" class="list-group-item">Tutoriales</a>
                </div>
                <div id="cart">
			 	<%= render @cart %>
				</div>
            </div>

            <div class="col-md-9">

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
