<%= render 'store/navbar' %>

<div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        	
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
      <div class="item active">
                               
                               <%= image_tag("beauties.jpg", :class => "slide-image")   %>
                                </div>
                                <div class="item">
                                    <%= image_tag("eyes.jpg", :class => "slide-image")   %>
                                </div>
                                <div class="item">
                                    <%= image_tag("beauties.jpg", :class => "slide-image")   %>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>
                
                
                <div class="row">

                 
                        	<% cache ['store', Product.latest] do %>
							<% @products.each do |product| %>
							
							<% if product.category == "lips"%>
								<% cache ['entry', product] do %>
								
								<div class="col-sm-4 col-lg-4 col-md-4">
	                    	    <div class="thumbnail">
								
								<%= image_tag(product.image_url) %>
								
								 <div class="caption">
	                                <h4 class="pull-right"><%= number_to_currency(product.price) %></h4>
	                                <h4><a href="#"><%= product.title %></a>
	                                </h4>
								
								<p><%= sanitize(product.description) %>
								</p>
														
								<%= button_to 'Add to Cart', line_items_path(product_id: product), remote:true, :class => 'btn btn-primary' %></a> 
								</div>
								</div>
								  </div>
								  <%end%>
							<% end %>
							<% end %>
							<% end %>
                            
                            
                      
                    </div>

               
                   

                </div>



